@import 'https://fonts.googleapis.com/css?family=Lato';

body * {
    font-family: "Helvetica Neue Light", "Lato", sans-serif !important;
    font-weight: 100;
}

/*
 * Remove cheezy rounded corners
 */
#headerTabs {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.pHead {
    border-radius: 0 !important;
}

#sideBar div.sideSection, #sideBar div#quickLinks {
    border: none !important;
    border-radius: 0 !important;
}

/*
 * adblock - block banner ads
 */
#TargetedMessage img {
    display: none;
}

/*
 * Hide the useless print and tools buttons
 */
#pageTitleButtons {
    display: none;
}

/*
 * Hide breadcrumbs
 */
#mainCrumbs {
    display: none;
}

#masthead {
    /*display: none;*/
}

/*
 * Menu tabs
 */
div#headerTabs ul li.selected {
    background: #592C35 !important;
}

/*
 * Float the menu bar at the top of viewport after scrolling past it
 */
.floatMenuBar {
    position: fixed;
    top:0;
    width: 100%;
    z-index: 1000;
}

/*
 * Sidebar width
 */
div #sideBar {
    width: 25%;
}

/*
 * Main page content
 */
div #portlets {
    width: 74%;
}
